body{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Helvetica, Courier, monospace;
    cursor: url("select.cur"), default;
    background: url("backgroud.png");


}

.container{
    width: 500px;
    height: 900px;
    background: url("white-paper-planes-minimalist-style-on-space-blue-background-free-photo.jpg") center / cover;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 5px 10px 20px #333;
}

#check{
    display: none;
}

.signup{
    position: relative;
    width: 100%;
    height: 100%;
}

label{
    color: #FFF;
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
}

input{
    width: 60%;
    height: 20px;
    background: #F3F8FF;
    justify-content: center;
    display: flex;
    margin: 20px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

button{
    width: 60%;
    height: 40px;
    color: #F3F8FF;
    margin: 10px auto;
    justify-content: center;
    display: block;
    background: #E8D3FF;
    border: none;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: .2s ease-in-out;
}

button:hover{
    background:  #C6CFFF;
}

.login{
    height: 860px;
    background: url("traveler.jpg") no-repeat center / cover;
    border-radius: 60% / 10%;
    transform: translateY(-180px);
    transition: .8s ease-in-out;
}

.login button{
    background: #542;
}

.login button:hover{
    background: #552;
}
.login label{
    transform: scale(0.6);
}
#check:checked ~ .login{
    transform: translateY(-900px);
}
#check:checked ~ .login label{
    transform: scale(1);
    padding-top: 5px;
}
#check:checked ~ .signup label{
    transform: scale(0.6);
}

svg.trail{
    pointer-events: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

svg.trail path{
    fill: none;
    stroke: #fff;
    stroke-width: 8px;
    stroke-linecap: round;
    stroke-linejoin: round;
}